<div class="container" id="campsitedetail">
    <div class="row header">
        <div class="pull-left">
            <span class='title'>Camp Name</span>
            <span class='star'>
                <i class='fa fa-star'></i>
                <i class='fa fa-star'></i>
                <i class='fa fa-star'></i>
                <i class='fa fa-star'></i>
                <i class='fa fa-star'></i>
            </span>
            <br>
            <span class='location'>camp location</span>
            <span class='phone'>camp phone number</span>
        </div>
        <div class="pull-right">
            <span class='old-price'>$old price</span>
            <span class='new-price'>$new price</span>
            <a href="" class="btn btn-primary bmd-ripple">Book Now</a>
            <br>
            <ul>
                <li><a href="">specification</a></li>
                <li><a href="">get more info</a></li>
            </ul>
        </div>
    </div>
    <div class="row body">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Choose Your Camp</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <form class="custom ng-pristine ng-valid">
                            <input type="hidden" id="checkin" name="checkin" readonly="readonly" value="">
                            <input type="hidden" id="checkout" name="checkout" readonly="readonly" value="">
                            <div class="form-group">
                                <div class="bmd-field-group">
                                    <input type="text" class="bmd-input" required="" id="camp-ddiration" placeholder="Arrival &amp; Departure Dates" readonly="readonly" data-cifmt="MM/DD/YYYY" data-cofmt="MM/DD/YYYY" data-separator=" - " data-title="Select Arrival &amp; Departure Dates" value="" onload="datepickerinit()">
                                    <span class="bmd-bar"></span>
                                    <span class="bmd-field-feedback"></span>
                                </div>
                            </div>
                            <select id="locations" name="locations" class="form-control">
                                <option value="-1" selected="selected">Locations: Any</option>
                                <option value="1">Locations: 1</option>
                                <option value="2">Locations: 2</option>
                                <option value="3">Locations: 3</option>
                                <option value="4">Locations: 4</option>
                                <option value="5">Locations: 5</option>
                                <option value="6">Locations: 6</option>
                                <option value="7">Locations: 7</option>
                            </select>
                            <br>
                            <select id="areas" name="areas" class="form-control">
                                <option value="-1" selected="selected">Area: No Preference</option>
                                <option value="4">Area: 4+</option>
                                <option value="5">Area: 5+</option>
                                <option value="6">Area: 6+</option>
                                <option value="7">Area: 7+</option>
                            </select>
                            <br>
                            <select id="occupancy" name="occupancy" class="form-control">
                                <option value="-1" selected="selected">Occupancy: No Preference</option>
                                <option value="4">Sleeps: 4+</option>
                                <option value="5">Sleeps: 5+</option>
                                <option value="6">Sleeps: 6+</option>
                                <option value="7">Sleeps: 7+</option>
                            </select>
                            <br>
                            <div class="left text-center">
                                <a href="" class="btn btn-primary bmd-ripple search-btn2">Search</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul id="lightSlider">
                <li ng-repeat="photo in restaurantsdetail.contentImages" data-thumb="{{photo.image}}" class="car-body">
                    <img ng-src="{{photo.image}}" />
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="box  reviews-summary-box">
                <div class="rating-superlative">Superb!</div>
                <div class="cols-nested">
                    <div class="guest-recommendation">
                        <i class="fa fa-smile-o"></i>
                        <span class="recommend-percentage">98%</span>
                        <span class="recommendation-text">of srecommend </span>
                    </div>
                    <div class="guest-rating">
                        <span class="rating-number" itemprop="ratingValue">4.6</span>
                        <span class="rating-scale">out of 5</span>
                        <span class="rating-text">Expedia Guest Rating</span>
                    </div>
                    <a href="" class="reviews-link link-to-reviews">View all <span>629</span> Expedia Verified Reviews</a>
                </div>
                <div id="trip-advisor-summary" class="">
                    <div class="ta-label"> <span class="ta-title">TripAdvisor Traveller Rating</span> <span class="ta-reviews-text">Based on 1024 reviews</span> <span class="visuallyhidden">4.5 out of 5</span>
                    </div>
                </div>
            </div>
            <div class="mpa">
                <div class="map">
                    <ng-map center="[47.8864, 106.9057]"></ng-map>
                </div>
            </div>
        </div>
    </div>
    <div class="row booking-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Book your camp</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Room type</th>
                            <th>Options</th>
                            <th>Avg rate per night</th>
                            <th>Book</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                    <tbody class="room room-above-fold" ng-repeat="item in items = [1, 2]">
                        <tr class="rate-plan rate-plan-first " data-inventory="MERCHANT" data-rate-code="207480085">
                            <td class="room-info col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="room-thumbnail">
                                    <figure class="image aspect-ratio16-9 large-thumbnail rec-thumbnail"><img alt="Photo of Deluxe Double Room" class="tile-media" src="//images.trvl-media.com/hotels/1000000/230000/220700/220671/220671_387_l.jpg">
                                    </figure>
                                </div>
                                <div class="room-basic-info">
                                    <div class="menu-bar room-description-menu-bar">
                                    </div>
                                </div>
                            </td>
                            <td class="rate-features col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a href="" class="nonRefundableTooltipLink">
                                    <div class="non-refundable"> Non-Refundable </div>
                                </a>
                                <div class="">
                                    <p>This special discounted rate is non-refundable. If you choose to change or cancel this booking you will not be refunded any of the payment.</p>
                                </div>
                                <div class="rate-includes">
                                    <a href="" class="room-amenity">
                                        <div class="room-amenity free-internet">Free Internet</div>
                                    </a>
                                    <div class="">
                                        <p>Free Internet is available in this room</p>
                                    </div>
                                    <div class="room-amenity no-book-and-fees">
                                        <span class="icon icon-success" aria-hidden="true"></span><span class="free-text">No Expedia booking or credit card fees</span>
                                    </div>
                                </div>
                            </td>
                            <td class="avg-rate col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="recommended-for-you">Recommended for you</div>
                                <div class="room-price-info-wrapper">
                                    <div class="menu-bar info-icon nightlyRatesMenuBar">
                                        <ul class="menu-bar-inner">
                                            <li><a><span class="visuallyhidden">Deluxe Double Room Option 1 nightly rates information</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="visuallyhidden">Price is now:</span> <span class=" room-price ">C$271.19</span>
                                    <span class="visuallyhidden">Price was:</span> <span class="cross-out-price">C$326.72</span>
                                </div>
                                <div class="breakfastSurCharge">
                                </div>
                                <a href="" class="drr-message"><span class="badge badge-urgent badge-notification drr-badge" data-track="HOT.HIS.RoomAndRates.DRR">Deal!</span></a>
                            </td>
                            <td class="book-button-column col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a href="" class="btn btn-primary bmd-ripple">Book</a>
                            </td>
                        </tr>
                        <tr class="rate-plan">
                            <td></td>
                            <td class="rate-features">
                                <a href="" class="free-cancellation-tooltip-link"><span class="icon icon-success" aria-hidden="true"></span><span class="free-cancellation-short free-text">Free Cancellation</span></a>
                                <div class="hidden">
                                    <h3 class="hd">You can cancel free of charge up until the cancellation window</h3>
                                    <ul>
                                        <li> Cancellations or changes made after 6:00PM (Arab Daylight Time) on Fri, 29 Apr or no-shows are subject to a hotel fee equal to the first night's rate plus taxes and fees. </li>
                                    </ul>
                                </div>
                                <div class="free-cancellation-deadline">
                                    until Fri, 29 Apr </div>
                                <div class="rate-includes">
                                    <div class="book-now-pay-later">
                                        <div class="room-amenity">
                                            <span class="icon icon-success" aria-hidden="true"></span><span class="free-text">Book now, pay later</span>
                                        </div>
                                    </div>
                                    <a href="1" class="room-amenity">
                                        <div class="room-amenity free-internet"><span class="icon icon-success" aria-hidden="true"></span><span class="free-text">Free Internet</span></div>
                                    </a>
                                    <div id="internet-0-1" class="hidden">
                                        <p>Free Internet is available in this room</p>
                                    </div>
                                    <div class="room-amenity no-book-and-fees">
                                        <span class="icon icon-success" aria-hidden="true"></span><span class="free-text">No Expedia booking or credit card fees</span>
                                    </div>
                                </div>
                            </td>
                            <td class="avg-rate">
                                <div class="room-price-info-wrapper">
                                    <div class="menu-bar info-icon nightlyRatesMenuBar">
                                        <ul class="menu-bar-inner">
                                            <li><a>Deluxe Double Room Option 2 nightly rates information</span><img class="infoIcon"></a>
                                                <div class="menu" aria-hidden="true">
                                                    <div class="menu-main">
                                                        <div role="grid" aria-readonly="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="visuallyhidden">Price is now:</span> <span class=" room-price ">C$393.65</span>
                                    <span class="private-deal-wrapper hidden"><span class="visuallyhidden">Price was:</span><span class="cross-out-price private-deal-cross-out hidden"></span></span>
                                </div>
                                <div class="breakfastSurCharge">
                                </div>
                            </td>
                            <td class="book-button-column col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a href="" class="btn btn-primary bmd-ripple">Book</a>
                            </td>
                        </tr>
                        <tr class="rate-plan " data-inventory="MERCHANT;DIRECT_AGENCY" data-rate-code="207352341">
                            <td></td>
                            <td class="rate-features">
                                <a href="" class="free-cancellation-tooltip-link"><span class="icon icon-success" aria-hidden="true"></span><span class="free-cancellation-short free-text">Free Cancellation</span></a>
                                <div id="free-cancellation-tooltip0-2" class="hidden">
                                    <h3 class="hd">You can cancel free of charge up until the cancellation window</h3>
                                    <ul>
                                        <li> Cancellations or changes made after 6:00PM (Arab Daylight Time) on Fri, 29 Apr or no-shows are subject to a hotel fee equal to the first night's rate plus taxes and fees. </li>
                                    </ul>
                                </div>
                                <div class="free-cancellation-deadline">
                                    until Fri, 29 Apr </div>
                                <div class="rate-includes">
                                    <div class="book-now-pay-later">
                                        <div class="room-amenity">
                                            <span class="icon icon-success" aria-hidden="true"></span><span class="free-text">Book now, pay later</span>
                                        </div>
                                    </div>
                                    <a href="">
                                        <div class="room-amenity free-breakfast"><span class="icon icon-success" aria-hidden="true"></span><span class="free-text">Breakfast Included</span></div>
                                    </a>
                                    <div id="breakfast-0-2" class="hidden">
                                        <p>Breakfast is included in your stay.</p>
                                    </div>
                                    <a href="">
                                        <div class="room-amenity free-internet"><span class="icon icon-success" aria-hidden="true"></span><span class="free-text">Free Internet</span></div>
                                    </a>
                                    <div id="internet-0-2" class="hidden">
                                        <p>Free Internet is available in this room</p>
                                    </div>
                                    <div class="room-amenity no-book-and-fees">
                                        <span class="icon icon-success" aria-hidden="true"></span><span class="free-text">No Expedia booking or credit card fees</span>
                                    </div>
                                </div>
                            </td>
                            <td class="avg-rate">
                                <div class="room-price-info-wrapper">
                                    <div class="menu-bar info-icon nightlyRatesMenuBar">
                                        <ul class="menu-bar-inner">
                                            <li><a href="">Deluxe Double Room Option 3 nightly rates information</span><img class="infoIcon" alt=""></a>
                                                <div class="menu" aria-hidden="true">
                                                    <div class="menu-main">
                                                        <div role="grid" aria-readonly="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="visuallyhidden">Price is now:</span> <span class=" room-price ">C$445.89</span>
                                    <span class="private-deal-wrapper hidden"><span class="visuallyhidden">Price was:</span><span class="cross-out-price private-deal-cross-out hidden"></span></span>
                                </div>
                            </td>
                            <td class="book-button-column col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a href="" class="btn btn-primary bmd-ripple">Book</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row hotel-description">
        <div class="">
            <h2><span class="visuallyhidden">Get an overview of this hotel</span>Neo-classical luxury hotel with spa, in the heart of Helsinki</h2>
            <h3>Opposite the park</h3>
            <p>Built in 1887 and still renowned for its superior service, this landmark neo-classical hotel stands in the heart of Helsinki across from Esplanade Park and 100 metres from the cathedral.</p>
            <h3>Spa, 3 restaurants</h3>
            <p>The 8th-floor Balance Club's spa offers aromatherapic mist showers, a mosaic Turkish bath, massage treatments, and a sun bed. The hotel also features a Japanese restaurant, a brasserie, and a lounge with park views.</p>
            <h3>Air conditioning</h3>
            <p>The 179 guestrooms at Hotel Kamp include marble bathrooms with heated floors, air conditioning, minibars, free WiFi, and satellite television.</p>
            <a class="feedback-link" rel="" href="">
                <span class="icon icon-infoalt" aria-hidden="true"></span> Would you like to give us feedback? Share it!
                <span class="icon icon-popup" aria-hidden="true"></span><span class="alt">Opens in a new window</span> </a>
        </div>
    </div>
    <div class="row about">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs bmd-nav-tabs bmd-nav-tabs-primary">
                    <li class="active"><a href="#home-primary" data-toggle="tab" class="bmd-ripple" aria-expanded="true" target="_self">Home</a></li>
                    <li class=""><a href="#profile-primary" data-toggle="tab" class="bmd-ripple" aria-expanded="false" target="_self">Profile</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home-primary">
                        <section id="policies-and-amenities" class="cols-nested">
                            <div class="full-address-container">
                                <h2>Hotel Kamp</h2>
                                <span class="full-address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <a href="" class="map-link">
                                <span itemprop="streetAddress" class="street-address">Pohjoisesplanadi 29</span>
                                <span itemprop="addressLocality" class="city">Helsinki</span>
                                <span itemprop="postalCode" class="postal-code">00100</span>
                                </a>
                                </span>
                            </div>
                            <div class="col">
                                <section id="hotel-amenities">
                                    <h2>Hotel Amenities</h2>
                                    <h3>Hotel Amenities</h3>
                                    <div data-section="amenities-general">
                                        <article class="toggle">
                                            <section id="show-more-general" class="toggle-pane">
                                                <p>Guests at Hotel Kamp can work out in the exercise room, or relax with a range of spa services including aromatherapy showers, heated relaxation beds, steam room, Turkish bath and traditional sauna. Massage services and a tanning room also available. The hotel also features three restaurants, each with its own special cuisine and ambience. Afternoon tea and pre-dinner drinks can be enjoyed in the bar and library. Guests can take advantage of butler, porter and bellhop services, and can contact the concierge desk for information on the local area. WiFi is free in public areas of the hotel, and there is onsite meeting rooms and a computer station. Those with cars can take advantage of valet parking, and a limousine service is available. There is a gift shop on site and practical amenities include currency exchange, laundry services and 24-hour front desk.</p>
                                                <ul>
                                                    <li>24-hour front desk</li>
                                                    <li>Babysitting or childcare (surcharge)</li>
                                                    <li>Total number of rooms - 179</li>
                                                    <li>Number of floors - 8</li>
                                                    <li>Breakfast available (surcharge)</li>
                                                    <li>Year Built 1887</li>
                                                    <li>Valet parking (surcharge)</li>
                                                    <li>Number of bars/lounges - 2</li>
                                                    <li>Free newspapers in lobby</li>
                                                    <li>Dry cleaning/laundry service</li>
                                                    <li>Elevator/lift</li>
                                                    <li>Full-service spa</li>
                                                    <li>Gift shops or newsstand</li>
                                                    <li>Health club</li>
                                                    <li>Free WiFi</li>
                                                    <li>Computer station</li>
                                                    <li>Business center</li>
                                                    <li>Turkish bath/Hammam</li>
                                                    <li>Luggage storage</li>
                                                    <li>Laundry facilities</li>
                                                    <li>Library</li>
                                                    <li>Limo or Town Car service available</li>
                                                    <li>Spa treatment room(s)</li>
                                                    <li>Meeting rooms 10</li>
                                                    <li>Multilingual staff</li>
                                                    <li>Terrace</li>
                                                    <li>Porter/bellhop</li>
                                                    <li>Safe-deposit box at front desk</li>
                                                    <li>Number of restaurants - 2</li>
                                                    <li>Number of meeting rooms - 5</li>
                                                    <li>Sauna</li>
                                                    <li>Spa services on site</li>
                                                    <li>Steam room</li>
                                                    <li>Wedding services</li>
                                                </ul>
                                            </section>
                                        </article>
                                    </div>
                                    <h3>Family Friendly Amenities</h3>
                                    <div data-section="amenities-family">
                                        <article class="toggle" data-type="read-more" data-track="HOT.HIS.PolicyAmenity.Family.ShowLessOrMore">
                                            <section id="show-more-family" class="toggle-pane">
                                                <ul>
                                                    <li>Free Wi-Fi </li>
                                                    <li>Laundry facilities </li>
                                                    <li>Babysitting or childcare (surcharge) </li>
                                                </ul>
                                            </section>
                                        </article>
                                    </div>
                                    <div class="paragraph-hack"></div>
                                    <h3>Internet</h3>
                                    <div data-section="internet">
                                        <p>
                                            <span class="amenity-label">Available in all rooms:</span> Free WiFi , Free wired high-speed Internet
                                        </p>
                                        <p>
                                            <span class="amenity-label">Available in some public areas:</span> Free WiFi
                                        </p>
                                    </div>
                                    <h3>Parking</h3>
                                    <div data-section="parking">
                                        <p>
                                            Valet parking (surcharge)
                                        </p>
                                    </div>
                                    <h3>Room Amenities</h3>
                                    <div data-section="room">
                                        <article class="toggle" data-type="read-more" data-track="HOT.HIS.PolicyAmenity.Room.ShowLessOrMore">
                                            <section id="show-more-room" class="toggle-pane">
                                                <ul>
                                                    <li>Premium TV channels</li>
                                                    <li>Pay movies</li>
                                                    <li>Hypo-allergenic bedding available</li>
                                                    <li>Premium bedding</li>
                                                    <li>Blackout drapes/curtains</li>
                                                    <li>In-room climate control (air conditioning)</li>
                                                    <li>Air conditioning</li>
                                                    <li>Phone</li>
                                                    <li>Minibar</li>
                                                    <li>Free bottled water</li>
                                                    <li>Daily housekeeping</li>
                                                    <li>Turndown service</li>
                                                    <li>Private bathroom</li>
                                                    <li>Bathrobes</li>
                                                    <li>Free toiletries</li>
                                                    <li>Hair dryer</li>
                                                    <li>Slippers</li>
                                                    <li>Shower/tub combination</li>
                                                    <li>Satellite TV service</li>
                                                    <li>Iron/ironing board</li>
                                                    <li>In-room safe</li>
                                                    <li>Desk</li>
                                                    <li>Free WiFi</li>
                                                    <li>Free wired high-speed Internet</li>
                                                    <li>In-room massage available</li>
                                                    <li>Free newspaper</li>
                                                    <li>Room service (24 hours)</li>
                                                    <li>Down comforter</li>
                                                    <li>Pillow menu</li>
                                                    <li>LCD TV</li>
                                                    <li>Rollaway/extra beds (surcharge)</li>
                                                </ul>
                                            </section>
                                        </article>
                                    </div>
                                    <h3>Where to Eat</h3>
                                    <div data-section="dining">
                                        <article class="toggle">
                                            <section class="toggle-pane">
                                                <p><b>Brasserie Kämp</b> - Regional and international cuisine. Popular bar. Sunday brunch. Brasserie open daily, mid-day till late evening; bar open late morning till late evening.
                                                </p>
                                                <p>
                                                    <b>Kämp Signé</b> - Modern, fine-dining restaurant showcasing Finnish specialties. Focus on fresh Scandinavian seafood prepared with local wild herbs. Freshly baked spelt breads. European wines from artisan producers. View of Esplanade.
                                                </p>
                                                <p>
                                                    <b>Yume</b> - Japanese cuisine. Sushi, sashimi, tempura, and much more. Small plates for sharing. Seven-course omakase menu. Extensive sake list.
                                                </p>
                                                <p><strong>Kämp Upper Lounge</strong> - With Esplanade Park views, guests can sink into a comfortable chair and enjoy espresso drinks, teas, classic cocktails, aperitifs, and an extensive selection of fine wines by the glass. Private dining services are available. </p>
                                            </section>
                                        </article>
                                    </div>
                                    <h3>Nearby Things to Do</h3>
                                    <div data-section="recreation">
                                        <article class="toggle" data-type="read-more">
                                            <section class="toggle-pane">
                                                <p>The recreational activities listed below are available either on site or near the hotel; fees may apply.
                                                </p>
                                                <ul>
                                                    <li>Bicycle rentals nearby</li>
                                                </ul>
                                            </section>
                                        </article>
                                    </div>
                                    <h3>Spa Services</h3>
                                    <div data-section="spa">
                                        <article class="toggle" data-type="read-more" data-track="HOT.HIS.PolicyAmenity.ShowLessOrMore">
                                            <section class="toggle-pane">
                                                <ul>
                                                    <li>Steam room in spa</li>
                                                    <li>Sauna in spa</li>
                                                    <li>Minimum age to access spa is 18</li>
                                                    <li>Body scrubs</li>
                                                    <li>Aromatherapy treatments</li>
                                                    <li>Body treatments</li>
                                                    <li>Facial treatments</li>
                                                </ul>
                                            </section>
                                        </article>
                                    </div>
                                    <div class="paragraph-hack"></div>
                                    <h3>Accessibility</h3>
                                    <div data-section="accessibility">
                                        <article class="toggle" data-type="read-more" data-track="HOT.HIS.PolicyAmenity.ShowLessOrMore">
                                            <section class="toggle-pane">
                                                <p>To make requests for specific accessibility needs, complete the "Special or Accessibility Requests" section of "Trip Preferences" when you book your hotel. </p>
                                                <ul>
                                                    <li>Accessible bathroom</li>
                                                    <li>In-room accessibility</li>
                                                </ul>
                                            </section>
                                        </article>
                                    </div>
                                    <a class="feedback-link" rel="nofollow" href="">
                                        <span class="icon icon-infoalt" aria-hidden="true"></span> Would you like to give us feedback? Share it!
                                        <span class="icon icon-popup" aria-hidden="true"></span><span class="alt">Opens in a new window</span> </a>
                                </section>
                            </div>
                            <div class="col">
                                <section id="policies-and-fees">
                                    <h2>Hotel Policies</h2>
                                    <h3>Check-in</h3>
                                    <div data-section="checkIn">
                                        <p>Check-in time starts at 3 PM</p>
                                    </div>
                                    <h3>Check-out</h3>
                                    <div data-section="checkOut">
                                        <p>Check-out time is noon</p>
                                    </div>
                                    <h3>Pets</h3>
                                    <div data-section="pets">
                                        <div class="paragraph-hack">
                                            <p></p>
                                            <ul>
                                                <li>Pets allowed for an extra charge of EUR 35 per accommodation, per day</li>
                                                <li>Up to 10 kg</li>
                                                <li>Specific rooms only, restrictions apply</li>
                                                <li>Pet-friendly rooms can be requested by contacting the property at the number on the booking confirmation</li>
                                            </ul>
                                            <p></p>
                                        </div>
                                    </div>
                                    <h3>You need to know</h3>
                                    <div data-section="policies-general">
                                        <article class="toggle" data-type="read-more" data-track="HOT.HIS.PolicyAmenity.General.ShowLessOrMore">
                                            <section id="show-more-general-policies" class="toggle-pane">
                                                <p>Extra-person charges may apply and vary depending on hotel policy.</p>
                                                <p>Government-issued photo identification and a credit card or cash deposit are required at check-in for incidental charges.</p>
                                                <p>Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed.</p>
                                            </section>
                                        </article>
                                    </div>
                                    <h3>Fees</h3>
                                    <div data-section="fees">
                                        <h3 style="margin-top:0px">Optional extras</h3>
                                        <div class="paragraph-hack">The following fees and deposits are charged by the property at time of service, check-in, or check-out.
                                            <ul>
                                                <li>Breakfast fee: EUR 29 per person (approximately)</li>
                                                <li>Airport shuttle fee: EUR 85 per person (one way)</li>
                                                <li>Valet parking fee: EUR 39 per day</li>
                                                <li>Pet fee: EUR 35 per accommodation, per day</li>
                                                <li>Rollaway bed fee: EUR 60 per night</li>
                                            </ul>
                                        </div>
                                        <div class="paragraph-hack">The above list may not be comprehensive. Fees and deposits may not include tax and are subject to change.</div>
                                    </div>
                                    <h3>Hotel Name</h3>
                                    <div data-section="alternativeNames">
                                        <article class="toggle" data-type="read-more" data-track="HOT.HIS.PolicyAmenity.AlternateNames.ShowLessOrMore">
                                            <section id="show-alternate-names" class="toggle-pane">
                                                <ul>
                                                    <li>Hotel Kamp</li>
                                                    <li>Hotel Kamp Helsinki</li>
                                                    <li>Kamp Helsinki</li>
                                                    <li>Kamp Hotel</li>
                                                    <li>Kamp Hotel Helsinki</li>
                                                </ul>
                                            </section>
                                        </article>
                                    </div>
                                    <h3>We should mention</h3>
                                    <div data-section="additionalDetails">
                                        <article class="toggle" data-type="read-more" data-track="HOT.HIS.PolicyAmenity.AdditionalDetails.ShowLessOrMore">
                                            <section id="show-more-additional-details" class="toggle-pane">
                                                <p>The property allows pets in smoking rooms only and has other pet restrictions (surcharges apply and can be found in the Fees section). Guests can arrange to bring pets by contacting the property directly, using the contact information on the booking confirmation.</p>
                                            </section>
                                        </article>
                                    </div>
                                    <a class="feedback-link" rel="nofollow" href="">
                                        <span class="icon icon-infoalt" aria-hidden="true"></span> Would you like to give us feedback? Share it!
                                        <span class="icon icon-popup" aria-hidden="true"></span><span class="alt">Opens in a new window</span> </a>
                                </section>
                                <section>
                                    <h2>Awards ;Affiliations</h2>
                                    <article class="toggle" data-type="read-more">
                                        <section class="toggle-pane">
                                            <div class="paragraph-hack"><strong>Green / Sustainable Property </strong></div>
                                            <div class="rm-hide">
                                                <div class="paragraph-hack"> This property participates in Green Key (nogle), a program that measures the property's impact on one or more of the following: environment, community, cultural-heritage, the local economy.
                                                    <ul>
                                                        <li>The property is a member of the Leading Hotels of the World. </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                        <a href="" class="toggle-trigger" data-transition="fade" role="button" aria-expanded="false"> Show more Awards &amp; Affiliations </a>
                                    </article>
                                </section>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="profile-primary">
                        <section class="review-summary">
                            <h2 class="header">Hotel Kamp ratings based on 629 Verified Reviews</h2>
                            <div class="review-assurance-small cf"> <img alt=""> <span>They paid and stayed. We double-checked.</span>
                            </div>
                            <div class="rating-and-satisfaction">
                                <div><span>4.6</span> out of 5</div>
                                <div class="progress bmd-progress">
                                    <div class="progress-bar" style="width: 60%;"></div>
                                </div>
                                <div><span>98%</span> of guests recommend
                                </div>
                                <div class="progress bmd-progress">
                                    <div class="progress-bar" style="width: 40%;"></div>
                                </div>
                            </div>
                            <div class="dimensions">
                                <div><span>4.7</span> Room cleanliness</div>
                                <div><span>4.6</span> Service &amp; staff</div>
                                <div><span>4.7</span> Room comfort</div>
                                <div><span>4.5</span> Hotel condition</div>
                            </div>
                            <div class="review-assurance"> <img alt="">
                                <div>Expedia Verified Reviews</div> <span>They paid and stayed. We double-checked.</span> </div>
                        </section>
                        <section class='review'>
                            <article class="segment" ng-repeat="item in items = [1, 2, 3]">
                                <div class="summary col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <h3 class="visuallyhidden">Old world luxury, in design city heaven.</h3><span class="rating"><span>5</span> out of 5</span>
                                    <blockquote class="recommendation recommends"> <span class="icon icon-success"></span> Recommended
                                        <br>for Everyone
                                        <div class="user cf"> by Grand from Scotland </div>
                                    </blockquote>
                                </div>
                                <div class="details col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <h3 aria-hidden="true">Old world luxury, in design city heaven.</h3> <span class="date-posted"> Posted Mar 17, 2016  </span>
                                    <div class="remark" tabindex="0"><strong>Pros:</strong><span class="translate-pros"> The tufted duck in the bathroom.</span></div>
                                    <div class="remark" tabindex="0"><strong>Cons:</strong><span class="translate-cons"> Tea and coffee making in room, but it's expected outside of UK.. Otherwise, it was great!</span></div>
                                    <div class="remark" tabindex="0"><strong>Location:</strong><span class="translate-loc"> Cafe Fazer, Marrimekko, Stockman, Suomenlina,.....</span></div>
                                    <div class="review-text translate-text" tabindex="0">We loved staying here and had a great stay in a brilliant city. The little things are what make a Kamp. We got and they made it so easy, can't recommend the whole thing enough!!</div>
                                    <div class="thank-the-reviewer">
                                        <div class="review-text"> Was this review helpful to you? </div>
                                        <a href="" class="btn btn-default bmd-ripple bmd-ink-grey-400">yes</a>
                                        <a href="" class="btn btn-default bmd-ripple bmd-ink-grey-400">no</a>
                                        <div class="flag-inappropriate">
                                            <a href=""> <li class="fa fa-flag"></li> Flag this review as inappropriate </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop: true,
    slideMargin: 0,
    thumbItem: 10,
    mode: 'fade',
    speed: 700,
    auto: true,
    pause: 5000
});
$(document).ready(function() {
    $(".lSPager.lSGallery").mouseover(function() {
        // console.log('yes', this);
        var element = $(this).find('li').mouseover(function() {
            console.log('yes', this);
            // setTimeout(function(){
            $(this).trigger('click')
                // }, 500)
        });
    });
})
$('#camp-ddiration').livequery(function() {
    datepickerinit();
}, function() {
    return false;
});

function datepickerinit() {
    jQuery(document).ready(function($) {
        BRE.ArrivalDeparturePopup2.init('#camp-ddiration', '#checkin', '#checkout', function(start, stop) {
            var dt1 = moment(start).format("M/D/YYYY");
            var dt2 = moment(stop).format('M/D/YYYY');
            $('#checkin').val(dt1);
            $('#checkout').val(dt2);
            $('#camp-ddiration').val(dt1 + ' - ' + dt2);
        });
    });
};
</script>
