<div class="container" id="campsite">
    <div class="header">
        <h3 class="title">Camp Site</h3>
        <p>Or You can search by Departures</p>
    </div>
    <div class="body row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 filter-group">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="filter-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="filter-collapse">
                	<div class="filter-cell" ng-repeat="main in campsite.filters">
                		<h3>{{main.title}}</h3>
                		<div class="row" ng-repeat="filter in main.filters">
	                        <div class="checkbox bmd-checkbox">
	                            <label>
	                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
	                                <span class="check"></span> {{filter.name}}
	                            </label>
	                        </div>
	                        <p class="pull-right">{{filter.cnt}}</p>
	                    </div>
                	</div>
                    
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 camp-group">
            <div class="trip-container panel" ng-repeat="item in campsite.contents">
                <div style="row">
                    <div class="trip-image-container col-md-3 col-sm-4 col-xs-12">
                        <div class="trip-image">
                            <a href="">
                                <img ng-src="{{item.image}}">
                            </a>
                        </div>
                    </div>
                    <div class="trip-content col-md-9 col-sm-8 col-xs-12">
                        <div>
                            <h4 class="">
								<a href="">{{item.title}}</a>
							</h4>
                        </div>
                        <div class="mt5">
                            <span class="mr10">
								<span class="text-gray-light">from</span>
                            <span class="text-bold">{{item.price}}$</span>
                            </span>
                            <span class="mr10">
								<span class="text-gray-light">duration</span>
                            <span class="text-bold">{{item.days}} days</span>
                            </span>
                        </div>
                        <div class="mt5 text-justify">
                            {{item.content}}
                        </div>
                        <div class="hidden-sm hidden-xs pull-right">
                            <a href="" class="btn btn-success bmd-ripple" ui-sref='campsite.detail' ng-click="campsite.goCampDetail($index)" target="_blank">Detail →</a>
                        </div>
                        <div class="mt5 hidden-sm hidden-xs">
                            <div class="">
                                <a href="" class="tag">
                                    <i class="fa fa-tag "></i>
                                    <span class="">{{item.tag1}}</span>
                                </a>
                                <a href="" class="tag">
                                    <i class="fa fa-tag "></i>
                                    <span class="">{{item.tag2}}</span>
                                </a>
                                <a href="" class="tag">
                                    <i class="fa fa-tag "></i>
                                    <span class="">{{item.tag3}}</span>
                                </a>
                                <a href="" class="tag">
                                    <i class="fa fa-tag "></i>
                                    <span class="">{{item.tag4}}</span>
                                </a>
                                <a href="" class="tag">
                                    <i class="fa fa-tag "></i>
                                    <span class="">{{item.tag5}}</span>
                                </a>
                                <a href="" class="tag">
                                    <i class="fa fa-tag "></i>
                                    <span class="">{{item.tag6}}/span>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
            <paging
		    page="1" 
		    page-size="6" 
		    total="3000"
		    show-prev-next="true"
		    show-first-last="true"
		    text-next-class="glyphicon glyphicon-chevron-right"
		    text-prev-class="glyphicon glyphicon-chevron-left"
		    text-first-class="glyphicon glyphicon-backward"
		    text-last-class="glyphicon glyphicon-forward"
            class="pull-right">		   		
			</paging>			
        </div>
    </div>
</div>
