<div class="container" id="campsitebooking">
    <h3>booking of camp</h3>
    <div class="header">
        <h3 class="title">Secure booking - only takes 3 minutes!</h3>
        <ul class="confidence-items">
            <!-- <li class="confidence-item reserve_now_pay_later">

            </li> -->
            <i class='fa fa-check'></i> <span class="confidence-text">Reserve now, pay later</span>
            <i class='fa fa-check'></i> <span class="confidence-text">FREE cancellation</span>
            <i class='fa fa-check'></i> <span class="confidence-text">Unlimited mileage</span>
            <!-- <li class="confidence-item free-cancellation">
                <span class="icon icon-success" aria-hidden="true"></span> <span class="confidence-text">FREE cancellation</span>
            </li>
            <li class="confidence-item unlimited-mileage">
                <span class="icon icon-success" aria-hidden="true"></span> <span class="confidence-text">Unlimited mileage</span>
            </li> -->
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <section id="user-account" class="segmented-list user-account page-1">
                <fieldset class="login-module">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a role="button" data-transition="fade" data-toggle="collapse" data-target="#accordion-login" aria-expanded="false">Sign in to earn 5909 Expedia+ points</a>
                        </div>
                        <div class="panel-body">
                            <div id="accordion-login" class="collapse" aria-expanded="false" style="height: 0px;">
                                <div class="col-lg-9">
                                    <div class="bmd-field-group">
                                        <input type="text" class="bmd-input" required="">
                                        <span class="bmd-bar"></span>
                                        <label class="bmd-label">Email</label>
                                        <span class="bmd-field-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="bmd-field-group">
                                        <input type="password" class="bmd-input" required="">
                                        <span class="bmd-bar"></span>
                                        <label class="bmd-label">Password</label>
                                    </div>
                                </div>
                                <div class="checkbox bmd-checkbox col-lg-9">
                                    <label>
                                        <input type="checkbox" class="bmd-ripple bmd-ink-gray">
                                        <span class="check"></span>Keep me signed in
                                    </label>
                                    <a href="">Forgot your password?</a>
                                </div>
                                <div class="col-lg-9 login">
                                    <a class="btn btn-primary bmd-ripple">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
            <section class="segmented-list cko-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Traveller info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-9 pt-10">
                            <p>Room 1: 2 Adults 1 king bed Non-smoking</p>
                        </div>
                        <div class="col-lg-9">
                            <div class="display-freebies">
                                <i class='fa fa-check'></i><span class="freebies-text">Free internet</span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="text" class="bmd-input" required="">
                                <label class="bmd-label">Contact Name</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="password" class="bmd-input" required="">
                                <label class="bmd-label">Mobile Phone Number</label>
                            </div>
                        </div>
                        <div class="checkbox bmd-checkbox col-lg-9">
                            <label>
                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
                                <span class="check"></span>Text me my confirmation. Standard rates may apply.
                            </label>
                        </div>
                        <div class=" col-lg-9">
                            <a class="bmd-ripple collapsed" data-toggle="collapse" data-target="#accordion-special-request" aria-expanded="false" href=''>Special Requests (optional)
                            </a>
                            <div id="accordion-special-request" class="collapse" aria-expanded="false" style="height: 0px;">
                                <p>Special requests (e.g. Roll-away beds, late check-in) are not guaranteed, and additional charges may apply. We recommend confirming your request with the hotel just to be safe.</p>
                                <div class="bmd-field-group">
                                    <textarea rows="3" class="bmd-textarea" required=""></textarea>
                                    <span class="bmd-bar"></span>
                                    <label class="bmd-label">Textarea</label>
                                    <span class="bmd-field-feedback">
                                    A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Payment</div>
                    <div class="panel-body">
                        <div class="col-lg-9 pt-10">
                            <span class="display-freebies">
                                <i class='fa fa-check'></i><span class="freebies-text">We use secure transmission</span>
                            </span>
                            <span class="display-freebies">
                                <i class='fa fa-check'></i><span class="freebies-text">We protect your personal information</span>
                            </span>
                        </div>
                        <div class=" col-lg-9">
                            <a class="bmd-ripple collapsed" data-toggle="collapse" data-target="#accordion-voucher" aria-expanded="false" href=''>Enter a voucher code
                            </a>
                            <div id="accordion-voucher" class="collapse" aria-expanded="false" style="height: 0px;">
                                <div class="bmd-field-group">
                                    <input type="text" class="bmd-input" required="">
                                    <span class="bmd-bar"></span>
                                    <label class="bmd-label">Voucher code</label>
                                    <span class="bmd-field-feedback"></span>
                                </div>
                                <a href="" class="btn btn-primary bmd-ripple">Apply Voucher</a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="text" class="bmd-input" required="">
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Cardholder name*</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="text" class="bmd-input" required="">
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Debit/Credit card number*</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div role="presentation" class="dropdown bmd-select form-control">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                    <span class="bmd-selected-value">Month</span>
                                    <span class="caret"></span>
                                </a>
                                <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="1">1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="1" href="" data-value="2">2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="2" href="" data-value="3">3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="3" href="" data-value="4">4</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="4" href="" data-value="5">5</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="5" href="" data-value="6">6</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="6" href="" data-value="7">7</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="7" href="" data-value="8">8</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="8" href="" data-value="9">9</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="9" href="" data-value="10">10</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="10" href="" data-value="11">11</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="11" href="" data-value="12">12</a></li>
                                </ul>
                                <span class="bmd-bar"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div role="presentation" class="dropdown bmd-select form-control">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                    <span class="bmd-selected-value">Year</span>
                                    <span class="caret"></span>
                                </a>
                                <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2016">2016</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2017">2017</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2018">2018</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2019">2019</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2020">2020</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2021">2021</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2022">2022</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2023">2023</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0" href="" data-value="2024">2024</a></li>
                                </ul>
                                <span class="bmd-bar"></span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="text" class="bmd-input" required="">
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Security code* </label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="text" class="bmd-input" required="">
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Billing postal code*</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                        </div>
                        <div class="checkbox bmd-checkbox col-lg-9">
                            <label>
                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
                                <span class="check"></span>Remember this card for future use Des
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Confirmation email</div>
                    <div class="panel-body">
                        <div class="col-lg-9 pt-10">
                            <p>Please enter the email address where you would like to receive your confirmation.</p>
                        </div>
                        <div class="col-lg-9">
                            <div class="bmd-field-group">
                                <input type="text" class="bmd-input" required="">
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Email address*</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                        </div>
                        <div class="checkbox bmd-checkbox col-lg-9">
                            <label>
                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
                                <span class="check"></span>Check the box if you do not want to receive emails from Expedia with travel deals, special offers, and other information
                            </label>
                        </div>
                        <div class="panel panel-default col-lg-9">
                            <div class="panel-body">
                                <div id="account-creation" class="nested-mode  rewards-only">
                                    <h2 class="acc-creation-header">Create an account</h2>
                                    <div class="benefits-list">
                                        <span class="display-freebies">
                                                <i class="fa fa-check"></i><span class="freebies-text">Earn Expedia+ points</span>
                                        </span>
                                        <span class="display-freebies">
                                                <i class="fa fa-check"></i><span class="freebies-text">Faster checkout</span>
                                        </span>
                                        <span class="display-freebies">
                                                <i class="fa fa-check"></i><span class="freebies-text">On-the-go access</span>
                                        </span>
                                        <span class="display-freebies">
                                                <i class="fa fa-check"></i><span class="freebies-text">All your itineraries in one place</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="bmd-field-group">
                                            <input type="text" class="bmd-input" required="">
                                            <span class="bmd-bar"></span>
                                            <label class="bmd-label">Create password</label>
                                            <span class="bmd-field-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="bmd-field-group">
                                            <input type="text" class="bmd-input" required="">
                                            <span class="bmd-bar"></span>
                                            <label class="bmd-label">Confirm password</label>
                                            <span class="bmd-field-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="checkbox bmd-checkbox col-lg-9">
                                        <label>
                                            <input type="checkbox" class="bmd-ripple bmd-ink-gray">
                                            <span class="check"></span>Join Expedia+ now and earn 4438 points for this trip.By joining Expedia+, I accept all terms & conditions Opens in a new window..
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <article id="complete" class="segment no-target review-and-book">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Important information about your booking</h3>
                        </div>
                        <div class="panel-body">
                            <div class="checkbox bmd-checkbox col-lg-9 pt-10">
                                <label>
                                    <input type="checkbox" class="bmd-ripple bmd-ink-gray">
                                    <span class="check"></span>*I have read and accept the Rules & Restrictions Opens in a new window., Terms of Use Opens in a new window. and Privacy Policy Opens in a new window.
                                </label>
                            </div>
                            <div class="col-lg-9">
                                <a href="" class="btn btn-warning bmd-ripple">Complet Booking</a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <section>
                <article id="trip-summary" class="trip-summary cf">
                    <h2 class="trip-summary-header visuallyhidden" type="section">Trip Summary</h2>
                    <div class="hotel-details-wrapper two-column">
                        <div class="hotel-details responsive-hotel-details" data-map-enabled="true">
                            <div class="hotel-description">
                                <h3 class="hotel-name">
                                    <div class="unlocalized-hotel-name">
                                        <a>Hotel Kamp</a>
                                    </div>
                                </h3>
                                <div class="hotel-star-rating  ">
                                    <span class="visuallyhidden">5.0 out of 5</span>
                                </div>
                                <a>Pohjoisesplanadi 29, Helsinki, Finland </a>
                            </div>
                        </div>
                        <div class="booking-summary">
                            <div class="room-summary"><span class="room-count">1 Room:</span>
                                <span class="room-description">Deluxe Double Room</span>
                            </div>
                            <div class="duration">
                                <div class="duration-check-in">
                                    <span class="check-in">Check-in:</span>
                                    <span class="date-range">30 Apr 2016</span>
                                </div>
                                <div class="duration-check-out">
                                    <span class="check-out">Check-out:</span>
                                    <span class="date-range">10 May 2016</span>
                                </div>
                                <span class="total-night-stay ">10-night stay</span>
                            </div>
                            <div class="drr">
                                <span class="drr-information ">Special deal: save 17%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-details-wrapper two-column">
                        <div class="price-details non-pdo">
                            <div class="room-price-details">
                                <div class="summary">
                                    <span class="room">Room 1:</span>
                                    <span class="room-description">2 Adults</span>
                                    <span class="average-per-night">avg./night</span>
                                </div>
                                <div class="nightly-details-wrapper">
                                    <span class="night-count">
                                        <a href="" class="collapsed" data-toggle="collapse" data-target="#accordion-night" aria-expanded="false">
                                        10 Nights , click to see the rates for each night
                                        </a>
                                        <div id="accordion-night" class="collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="toggle-inner">
                                                <dl class="nightly-details">
                                                    <dt class="date">Sat, 30 Apr</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_0">C$222.70</dd>
                                                    <dt class="date">Sun, 1 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_1">C$280.60</dd>
                                                    <dt class="date">Mon, 2 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_2">C$293.96</dd>
                                                    <dt class="date">Tue, 3 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_3">C$293.96</dd>
                                                    <dt class="date">Wed, 4 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_4">C$293.96</dd>
                                                    <dt class="date">Thu, 5 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_5">C$271.70</dd>
                                                    <dt class="date">Fri, 6 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_6">C$222.70</dd>
                                                    <dt class="date">Sat, 7 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_7">C$222.70</dd>
                                                    <dt class="date">Sun, 8 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_8">C$280.60</dd>
                                                    <dt class="date">Mon, 9 May</dt>
                                                    <dd class="amount" data-price-update="nightlyPrice_0_9">C$302.86</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </span>
                                    <span tabindex="0" class="room-total drr-information">C$268.57</span>
                                </div>
                                <div class="taxes-and-fees">
                                    <a href="">Taxes per night</a>
                                    <div class="hidden">
                                        <h3 class="hd">Taxes &amp; Fees</h3>
                                        <p>The taxes are tax recovery charges Expedia pays to its vendors (e.g. hotels); for details, please see our Terms of Use. We retain our service fees as compensation in servicing your travel reservation.</p>
                                    </div>
                                    <span class="fee-amount">
                                        <span class="taxes-amount"> C$26.86 </span>
                                    <span class="taxes-included  hidden ">included</span>
                                    </span>
                                </div>
                            </div>
                            <div class="insurance-price-display hidden" aria-hidden="true">
                                <span class="amount-label">Travel Protection</span>
                                <span class="amount-value">null</span>
                            </div>
                        </div>
                        <div class="coupon-wrapper">
                            <div class="coupon-details hidden non-pdo" aria-hidden="true">
                                <div class="sub-total">
                                    <span class="amount-label">Subtotal:</span>
                                    <span class="amount-value">C$2,954.34</span>
                                </div>
                                <div class="coupon">
                                    <span class="amount-label">Voucher Applied:</span>
                                    <span class="amount-value">-C$0.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="trip-total  ">
                            <div class="pay-with-points-summary-modules">
                                <div class="points-summary-ExpediaRewards" data-program="ExpediaRewards">
                                    <div class="points-summary  points-summary-ExpediaRewards points-subtotal hidden">
                                        Subtotal: <span class="amount-value" data-price-update="totalBeforeCoupon">C$2,954.34</span>
                                    </div>
                                    <div class="points-summary points-summary-ExpediaRewards hidden">
                                        <div class="points-coupon-wrapper points-subtotal coupon-details hidden ">
                                            <span class="amount-label">Voucher Applied:</span>
                                            <span class="amount-value">-C$0.00</span>
                                        </div>
                                    </div>
                                    <div class="points-summary points-summary-ExpediaRewards points-applied-points-total non-pdo hidden ">
                                        <span class="point-amount"></span> Expedia+ points Used: <span class="entered-amount-deduction-in-real-currency amount-value"></span>
                                    </div>
                                    <div class="points-summary">
                                        <span class="amount-label">Trip Total:</span>
                                    </div>
                                </div>
                                <span class="summary-total amount-label">Trip Total:</span>
                                <span class="summary-total amount-value">C$2,954.34</span>
                            </div>
                        </div>
                        <div class="hotel-rate-information">
                            Rates are quoted in <strong>Canadian dollars</strong>.
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>
