<!-- begin footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h2 class="brand widget-title">Realto</h2>
                    <p class="footer-tag-line">Your Company Tag Line</p>
                    <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua adipisicing elit seddo eiusmod tempor.</p>
                </div>
                <!-- .footer-company-info -->
            </div>
            <!-- .span3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="widget-title">Address</h3>
                    <div class="clearfix">
                        <ul>
                            <li class="clearfix">
                                <i class="icon-map-marker pull-left"></i>
                                <p class="pull-left">1680 Washington Avenue
                                    <br/>Miami Beach 33139 FL</p>
                            </li>
                            <li class="clearfix">
                                <i class="icon-phone pull-left"></i>
                                <p class="pull-left">+1 (800) 765 4321</p>
                            </li>
                            <li class="clearfix">
                                <i class="icon-envelope-alt pull-left"></i>
                                <p class="pull-left"><a href="">realto@realto.com</a></p>
                            </li>
                        </ul>
                    </div>
                    <!-- .clearfix -->
                </div>
                <!-- .footer-widget -->
            </div>
            <!-- .span3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="widget-title">Company</h3>
                    <ul>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="Home" href="">Home</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="About Us" href="">About Us</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="Properties" href="">Properties</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="Agents" href="">Agents</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="Blog" href="">Blog</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="Financing" href="">Financing</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="Contact Us" href="">Contact Us</a></li>
                    </ul>
                </div>
                <!-- .footer-widget -->
            </div>
            <!-- .span3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="widget-title">Flickr</h3>
                    <div class="flickr-widget">
                        <ul>
                            <li class="pull-left">
                                <a title="image" href=""><img alt="" class="media-object" src="http://placehold.it/70x70"></a>
                            </li>
                            <li class="pull-left">
                                <a title="image" href=""><img alt="" class="media-object" src="http://placehold.it/70x70"></a>
                            </li>
                            <li class="pull-left">
                                <a title="image" href=""><img alt="" class="media-object" src="http://placehold.it/70x70"></a>
                            </li>
                            <li class="pull-left">
                                <a title="image" href=""><img alt="" class="media-object" src="http://placehold.it/70x70"></a>
                            </li>
                            <li class="pull-left">
                                <a title="image" href=""><img alt="" class="media-object" src="http://placehold.it/70x70"></a>
                            </li>
                            <li class="pull-left">
                                <a title="image" href=""><img alt="" class="media-object" src="http://placehold.it/70x70"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- .flickr-widget -->
                </div>
                <!-- .footer-widget -->
            </div>
            <!-- .span3 -->
        </div>
        <div class="row social">
            <div class="wrapper">
                <span class='title'>Follow:</span>
                <a href="" data-dismiss="true" class="btn btn-primary bmd-ripple bmd-fab bmd-fab-sm bmd-floating"><span class="bmd-icon flaticon-facebook56"></span></a>
                <a href="" data-dismiss="true" class="btn btn-danger bmd-ripple bmd-fab bmd-fab-sm bmd-floating"><span class="bmd-icon flaticon-pinterest33"></span></a>
                <a href="" data-dismiss="true" class="btn btn-primary bmd-ripple bmd-fab bmd-fab-sm bmd-floating"><span class="bmd-icon flaticon-twitter47"></span></a>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
