<div id="menu">
    <nav class="navbar navbar-default container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="">
                    <a class="bmd-ripple" ui-sref="hotel.list">Hotels</a>
                </li>
                <li>
                    <a class="bmd-ripple" ui-sref="campsite.list">Camp Site</a>
                </li>
                <li>
                    <a class="bmd-ripple" ui-sref="restaurant.list">Restraunts</a>
                </li>
                <li>
                    <a class="bmd-ripple" ui-sref="tour.list">Tours</a>
                </li>
                <li>
                    <a class="bmd-ripple" ui-sref="events.list">Events</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
