<div id="menu">
    <nav class="navbar navbar-default container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="">
                    <a class="bmd-ripple" href="">Hotels</a>
                </li>
                <li>
                    <a class="bmd-ripple" href="">Camp Site</a>
                </li>
                <li>
                    <a class="bmd-ripple" href="">Restraunts</a>
                </li>
                <li>
                    <a class="bmd-ripple" href="">Tours</a>
                </li>
                <li>
                    <a class="bmd-ripple" href="">Events</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
