<div class="container" id="hotels">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h3>Search panel</h3>
    </div>
    <div class="col-lg-9 col-md-9  col-sm-9">
        <div class="row" ng-repeat="item in hotel.data">
            <div class="col-md-3">
                <img ng-src="{{ item.image }}">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <a href="">{{ item.title }}</a>
                </div>
                <div class="row">
                    <p>{{ item.description }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    {{ item.feedback }}
                </div>
                <div class="row">
                    {{ item.reviewCount }} reviews
                </div>
                <div class="row">
                    {{ item.price }}
                </div>
            </div>
        </div>
    </div>
</div>
