<div class="container" id="hotels">
    <div class="row">
        <div class="header">
            <h3 class="title">Hotels</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="row">
                <quicksearch></quicksearch>
            </div>
            <div class="row margin-top-10">
				<div class="panel panel-primary">
				    <div class="panel-heading"><h3 class="panel-title">Filter by:</h3></div>
				    <div class="panel-body">
				        <div class="list-group bmd-list-group-primary">
		                    <a href="" class="list-group-item bmd-ripple filter-title" data-toggle="collapse" data-target="#accordion-primary-item-star" aria-expanded="true">Star Rating</a>
		                    <div id="accordion-primary-item-star" class="collapse in " aria-expanded="true">
		                        <div class="checkbox bmd-checkbox leftpad30" ng-repeat="item in hotel.starList">
		                            <label>
		                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
		                                <span class="check"></span> {{item.name}}
		                            </label>
		                        </div>
		                    </div>
		                    <a href="" class="list-group-item bmd-ripple filter-title" data-toggle="collapse" data-target="#accordion-primary-item-property" aria-expanded="true">Property Types</a>
		                    <div id="accordion-primary-item-property" class="collapse in " aria-expanded="true">
		                        <div class="checkbox bmd-checkbox leftpad30" ng-repeat="item in hotel.propertyTypes">
		                            <label>
		                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
		                                <span class="check"></span> {{item.name}}
		                            </label>
		                        </div>
		                    </div>
		                    <a href="" class="list-group-item bmd-ripple filter-title" data-toggle="collapse" data-target="#accordion-primary-item-facility" aria-expanded="true">Facility</a>
		                    <div id="accordion-primary-item-facility" class="collapse in " aria-expanded="true">
		                        <div class="checkbox bmd-checkbox leftpad30" ng-repeat="item in hotel.facilities">
		                            <label>
		                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
		                                <span class="check"></span> {{item.name}}
		                            </label>
		                        </div>
		                    </div>
		                    <a href="" class="list-group-item bmd-ripple filter-title" data-toggle="collapse" data-target="#accordion-primary-item-roomfacility" aria-expanded="true">Room Facility</a>
		                    <div id="accordion-primary-item-roomfacility" class="collapse in " aria-expanded="true">
		                        <div class="checkbox bmd-checkbox leftpad30" ng-repeat="item in hotel.roomFacilities">
		                            <label>
		                                <input type="checkbox" class="bmd-ripple bmd-ink-gray">
		                                <span class="check"></span> {{item.name}}
		                            </label>
		                        </div>
		                    </div>
		                </div>
				    </div>
				</div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9  col-sm-9">
            <div class="row lineitem  panel panel-default" ng-repeat="item in hotel.data">
                <div class="col-md-3 col-sm-3 col-xs-3 img">
                    <a href=""><img ng-src="{{ item.image }}"></a>
                </div>
                <div class="col-md-6 col-sm-6  col-xs-6 ">
                    <div class="row">
                        <a href="" class="item-title">{{ item.title }}</a>
                    </div>
                    <div class="row">
                        <p>{{ item.description }}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                    <div class="row item-title">
                        {{ item.feedback }}
                    </div>
                    <div class="row review-count">
                        {{ item.reviewCount }} reviews
                    </div>
                    <div class="row like-count">
                        <i class="fa fa-heart-o"></i>{{ item.likeCount }} 
                    </div>
                    <div class="row">
                        {{ item.price }}
                    </div>
                    <br/>
                    <div class="hidden-sm hidden-xs pull-right">
                        <a href="" class="btn btn-primary bmd-ripple">Reserve</a>
                    </div>
                </div>
            </div>
            <paging page="1" page-size="6" total="3000" show-prev-next="true" show-first-last="true" text-next-class="glyphicon glyphicon-chevron-right" text-prev-class="glyphicon glyphicon-chevron-left" text-first-class="glyphicon glyphicon-backward" text-last-class="glyphicon glyphicon-forward" class="pull-right">
            </paging>
        </div>
    </div>
</div>
