<!-- <div id="main" class="scrollme ng-isolate-scope" ng-scrollbar="" is-bar-shown="barShown" style="overflow: hidden;"> -->
<div id="main">
    <div id="home-search-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget pull-right">
                        <div class="row">
                            <div class="col-lg-12 head-container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 hidden-phone">
                                        <h2 class="head-title">Welcome to Realto</h2>
                                        <p class="head-message"><strong>Realto xHTML/CSS Template is The Best Solution To Sell House Online.</strong>
                                            <br /> This template is appropriate for Real Estate Company, who need to do their business online via websites.</p>
                                        <a class="btn btn-large btn-realto span3 header-cta" href="" title="Buy It Now">Buy It Now!</a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="search-form">
                                            <p>Find your new home</p>
                                            <form action="" class="row-fluid form-group" method="post">
                                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <select class="form-control select" name="type">
                                                        <option>Location</option>
                                                        <option value="">New York</option>
                                                        <option value="">Los Angeles</option>
                                                        <option value="">Washington</option>
                                                        <option value="">Chicago</option>
                                                        <option value="">Miami</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                    <select class="form-control select" name="type">
                                                        <option>Property Type</option>
                                                        <option value="">Any</option>
                                                        <option value="">Single Family Home</option>
                                                        <option value="">Condo</option>
                                                        <option value="">Apartment</option>
                                                        <option value="">Loft</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <select class="form-control select pull-left" name="beds">
                                                        <option>Beds</option>
                                                        <option value="">1+ Beds</option>
                                                        <option value="">2+ Beds</option>
                                                        <option value="">3+ Beds</option>
                                                        <option value="">4+ Beds</option>
                                                        <option value="">5+ Beds</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                    <select class="form-control select pull-right" name="baths">
                                                        <option>Baths</option>
                                                        <option value="">1+ Baths</option>
                                                        <option value="">2+ Baths</option>
                                                        <option value="">3+ Baths</option>
                                                        <option value="">4+ Baths</option>
                                                        <option value="">5+ Baths</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                    <select class="form-control select clearfix" name="status">
                                                        <option>Select Status</option>
                                                        <option value="">For Rent</option>
                                                        <option value="">For Sale</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                    <select class="form-control select pull-left" name="price-from">
                                                        <option>Price from</option>
                                                        <option value="">from $100.000</option>
                                                        <option value="">from $200.000</option>
                                                        <option value="">from $300.000</option>
                                                        <option value="">from $400.000</option>
                                                        <option value="">from $500.000</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                    <select class="form-control select pull-right" name="price-to">
                                                        <option>Price to</option>
                                                        <option value="">to $100.000</option>
                                                        <option value="">to $200.000</option>
                                                        <option value="">to $300.000</option>
                                                        <option value="">to $400.000</option>
                                                        <option value="">to $500.000</option>
                                                    </select>
                                                </div>
                                                <div class="clearfix">
                                                    <!-- <button class="btn pull-right span6 btn-realto-form btn-large" type="submit">Search</button> -->
                                                    <a href="" class="btn btn-success bmd-ripple pull-right">Success</a>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- .search-form -->
                                    </div>
                                    <!-- .span4 -->
                                </div>
                            </div>
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .search-holder -->
                </div>
                <!-- .span12 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- latest-properties  -->
    <div class="container">
        <div class="row">
            <div class="home-bottom-top">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <h2 class="secion-title">Why choose us?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua adipisicing elit seddo eiusmod tempor.</p>
                        <p>Sed perspiciatis unde omnisiste natus error voluptatem remopa accusantium doloremque laudantium, totam rem aperiam.</p>
                        <a class="serif italic" href="" title="Continue">Continue &raquo;</a>
                    </div>
                </div>
                <!-- .span4 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <h3 class="info-head">Designed for your business</h3>
                        <div class="row clearfix">
                            <div class="pull-left icons hidden-phone">
                                <i class="icon-briefcase"></i>
                            </div>
                            <div class="col-lg-12">
                                <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua adipisicing elit seddo eiusmod tempor.</p>
                                <a class="serif italic" href="" title="Continue">Continue &raquo;</a>
                            </div>
                        </div>
                        <!-- .clearfix -->
                    </div>
                    <!-- .info-box -->
                    <div class="info-box">
                        <h3 class="info-head">Ample Customizations</h3>
                        <div class="row clearfix">
                            <div class="pull-left icons hidden-phone">
                                <i class="icon-cogs"></i>
                            </div>
                            <div class="col-lg-12">
                                <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua adipisicing elit seddo eiusmod tempor.</p>
                                <a class="serif italic" href="" title="Continue">Continue &raquo;</a>
                            </div>
                        </div>
                        <!-- .clearfix -->
                    </div>
                    <!-- .info-box -->
                </div>
                <!-- .span4 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <h3 class="info-head">Fully Responsive</h3>
                        <div class="row clearfix">
                            <div class="pull-left icons hidden-phone">
                                <i class="icon-move"></i>
                            </div>
                            <div class="col-lg-12">
                                <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua adipisicing elit seddo eiusmod tempor.</p>
                                <a class="serif italic" href="" title="Continue">Continue &raquo;</a>
                            </div>
                        </div>
                        <!-- .clearfix -->
                    </div>
                    <!-- .info-box -->
                    <div class="info-box">
                        <h3 class="info-head">Bootstrap Compatible</h3>
                        <div class="row clearfix">
                            <div class="pull-left icons hidden-phone">
                                <i class="icon-thumbs-up"></i>
                            </div>
                            <div class="col-lg-12">
                                <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua adipisicing elit seddo eiusmod tempor.</p>
                                <a class="serif italic" href="" title="Continue">Continue &raquo;</a>
                            </div>
                        </div>
                        <!-- .clearfix -->
                    </div>
                    <!-- .info-box -->
                </div>
                <!-- .span4 -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-container">
                <div class="row adv-message clearfix">
                    <div class="pull-left span7">
                        <p class="upper-line serif italic">Realto xHTML/CSS Template is The Best Solution To Sell House Online</p>
                        <p class="lower-line">This template is appropriate for Real Estate Company, who need to do their business online via websites.</p>
                    </div>
                    <!-- .pull-left -->
                    <a class="pull-right btn btn-large btn-realto span3" href="" title="Buy It Now">Buy
                            It Now!</a>
                </div>
                <!-- .adv-message  -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <h2 class="secion-title">Meet our agents</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">John Doe</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">Susan Underwood</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">Erik Peterson</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">Lu Jackson</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                </div>
            </div>
            <!-- .span8  -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="home-blog-articles widget">
                    <h2 class="secion-title">Articles from the Blog</h2>
                    <ul>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Duis suscipit venenatis pellentesque tempor
                                    libero</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Etiam aliquet aliquam metus in tristique</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Cras venenatis pellentesque venenatis
                                    pellentesque</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Vivamus vitae venenatis pellentesque nunc sed
                                    nisl</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">In tempus venenatis pellentesquetempor</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Suspendisse vulputate venenatis pellentesque
                                    quis</a></li>
                    </ul>
                </div>
            </div>
            <!-- .span4  -->
        </div>
    </div>
</div>
