<!-- <div id="main" class="scrollme ng-isolate-scope" ng-scrollbar="" is-bar-shown="barShown" style="overflow: hidden;"> -->
<div id="main">
    <div id="home-search-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget pull-right">
                        <div class="row">
                            <div class="col-lg-12 head-container">
                                <div class="row">
                                    <div class="" id="mainC" ng-repeat="item in home.mainCs">
                                        <img ng-src="{{item.image}}" alt="">
                                    </div>
                                    <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 hidden-phone">
                                        <h2 class="head-title">Welcome to Realto</h2>
                                        <p class="head-message"><strong>Realto xHTML/CSS Template is The Best Solution To Sell House Online.</strong>
                                            <br /> This template is appropriate for Real Estate Company, who need to do their business online via websites.</p>
                                        <a class="btn btn-large btn-realto span3 header-cta" href="" title="Buy It Now">Buy It Now!</a>
                                    </div> -->
                                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="search-form">
                                            <p>Find your new home</p>
                                            <form action="" class="row-fluid form-group" method="post">
                                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <select class="form-control select" name="type">
                                                        <option>Location</option>
                                                        <option value="">New York</option>
                                                        <option value="">Los Angeles</option>
                                                        <option value="">Washington</option>
                                                        <option value="">Chicago</option>
                                                        <option value="">Miami</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                    <select class="form-control select" name="type">
                                                        <option>Property Type</option>
                                                        <option value="">Any</option>
                                                        <option value="">Single Family Home</option>
                                                        <option value="">Condo</option>
                                                        <option value="">Apartment</option>
                                                        <option value="">Loft</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <select class="form-control select pull-left" name="beds">
                                                        <option>Beds</option>
                                                        <option value="">1+ Beds</option>
                                                        <option value="">2+ Beds</option>
                                                        <option value="">3+ Beds</option>
                                                        <option value="">4+ Beds</option>
                                                        <option value="">5+ Beds</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                    <select class="form-control select pull-right" name="baths">
                                                        <option>Baths</option>
                                                        <option value="">1+ Baths</option>
                                                        <option value="">2+ Baths</option>
                                                        <option value="">3+ Baths</option>
                                                        <option value="">4+ Baths</option>
                                                        <option value="">5+ Baths</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                    <select class="form-control select clearfix" name="status">
                                                        <option>Select Status</option>
                                                        <option value="">For Rent</option>
                                                        <option value="">For Sale</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                    <select class="form-control select pull-left" name="price-from">
                                                        <option>Price from</option>
                                                        <option value="">from $100.000</option>
                                                        <option value="">from $200.000</option>
                                                        <option value="">from $300.000</option>
                                                        <option value="">from $400.000</option>
                                                        <option value="">from $500.000</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                    <select class="form-control select pull-right" name="price-to">
                                                        <option>Price to</option>
                                                        <option value="">to $100.000</option>
                                                        <option value="">to $200.000</option>
                                                        <option value="">to $300.000</option>
                                                        <option value="">to $400.000</option>
                                                        <option value="">to $500.000</option>
                                                    </select>
                                                </div>
                                                <div class="clearfix">
                                                    <a href="" class="btn btn-success bmd-ripple pull-right">Search</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .search-holder -->
                </div>
                <!-- .span12 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- latest-properties  -->
    <div class="container">
        <div class="row topC">
            <h2>Top Experiences in Mongolia</h2>
            <ul class="" id="topCarousel">
                <div class="topC-each" ng-repeat="item in home.topCs">
                    <img ng-src="{{item.image}}" alt="">
                    <p class="title">{{item.title}}</p>
                    <p class="cont">{{item.txt}}</p>
                </div>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 topD-group sc_hd1 sc_hd2 sc_hd3">
                <h2>Top Deals</h2>
                <div class="top-deal row" style="" ng-repeat="item in topD = [1, 2, 3, 4, 5, 6, 7, 8]">
                    <a class="thumb-holder" href='' style="float:left">
                        <img src="http://q-ec.bstatic.com/images/city/square100/295/29538.jpg" alt="Riga Latvia Hotels" title="Hotels in Riga, Latvia" width="100">
                    </a>
                    <div class="txt-group">
                        <a class="b-sprite b-app_dots">491 Hotels in Riga</a>
                        <a>Riga</a>
                        <div class="">
                            <p class="social_tag">
                                Riga was highly rated for <b>old town</b> by 578 guests from Finland!
                            </p>
                        </div>
                        <p class="count">13,649 endorsements
                        </p>
                        <li>
                            <p class="endorsement dficon-301">
                            </p>
                            <p class="name"></p>
                            <p class="count">5,630 endorsements
                            </p>
                        </li>
                        <a href="">104 hotels</a>
                        <a href="">305 apartments</a>
                        <a href="">40 hostels</a>
                        <a href="">14 guesthouses</a>
                        <a href="">13 villas</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 nsF">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">News Feed</h4>
                    </div>
                    <div class="panel-body">
                        <div class="each sc_hd1 sc_hd2 sc_hd3">
                            <div class="activity_box" ng-repeat="item in nsFs = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                                <div class="image">
                                    <img src="http://r-ec.bstatic.com/images/hotel/square60/370/37045918.jpg">
                                </div>
                                <div class="txt">
                                    <p class="booker_from">A traveler from Finland </p>
                                    <a href="">Radisson Blu Royal Hotel, Helsinki</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 wyCh">
            <h3>Why Choose Us?</h3>
            <div class="wyCh-group">
                <div class="oneusp">
                    <div class="lp-index-usp-iconfont">
                        <div class="lp-index-usp-iconfont__background"></div>
                        <i class="lp-index-usp-iconfont__icon"></i>
                    </div>
                    <div class="txt">
                        <h3>New deals listed daily – for every budget!</h3>
                        <p>No booking fees&nbsp;•&nbsp; Save money! &nbsp;•&nbsp; Best Price Guaranteed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-container">
                <div class="row adv-message clearfix">
                    <div class="pull-left span7">
                        <p class="upper-line serif italic">Realto xHTML/CSS Template is The Best Solution To Sell House Online</p>
                        <p class="lower-line">This template is appropriate for Real Estate Company, who need to do their business online via websites.</p>
                    </div>
                    <!-- .pull-left -->
                    <a class="pull-right btn btn-large btn-realto span3" href="" title="Buy It Now">Buy
                            It Now!</a>
                </div>
                <!-- .adv-message  -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <h2 class="secion-title">Meet our agents</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">John Doe</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">Susan Underwood</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">Erik Peterson</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="home-agents widget">
                            <a class="overlay" href="" title="agent name">
                                <span class="more"></span>
                                <img alt="image" src="http://placehold.it/170x170" class="media-object">
                            </a>
                            <p class="home-agent-name">Lu Jackson</p>
                            <a class="serif italic" href="" title="View profile page">View profile
                                    page &raquo;</a>
                        </div>
                        <!-- .home-agents -->
                    </div>
                </div>
            </div>
            <!-- .span8  -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="home-blog-articles widget">
                    <h2 class="secion-title">Articles from the Blog</h2>
                    <ul>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Duis suscipit venenatis pellentesque tempor
                                    libero</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Etiam aliquet aliquam metus in tristique</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Cras venenatis pellentesque venenatis
                                    pellentesque</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Vivamus vitae venenatis pellentesque nunc sed
                                    nisl</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">In tempus venenatis pellentesquetempor</a></li>
                        <li>
                            <i class="icon-caret-right"></i>
                            <a title="title" href="">Suspendisse vulputate venenatis pellentesque
                                    quis</a></li>
                    </ul>
                </div>
            </div>
            <!-- .span4  -->
        </div>
    </div>
</div>
<script type="text/javascript">
$('#topCarousel').lightSlider({
    item: 5,
    loop: true,
    mode: 'slide',
    speed: 700,
    auto: true,
    pause: 5000,
    autoWidth: false,
    slideMove: 1, // slidemove will be 1 if loop is true
    slideMargin: 10,
});
</script>
