<div class="container" id="account">
    <div class="row">
        <div class="col-sm-2">
            <div id="sidebar-primary" class="bmd-sidebar-primary tour-sidebar bmd-sidebar bmd-sidebar-collapse bmd-sidebar-left bmd-sidebar-active">
                <ul class="bmd-sidebar-nav list-unstyled">
                    <li class="bmd-sidebar-brand">
                        <h3><a href="" class="bmd-ripple">My Account</a></h3></li>
                    <li><a ui-sref="secure.home.booking.list" class="bmd-ripple">Bookings</a></li>
                    <li>
                        <a ui-sref="secure.home.review.list" class="bmd-ripple">Reviews</a>
                    </li>
                    <li><a ui-sref="secure.home.dashboard">Settings</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10">
            <div ui-view></div>
        </div>
    </div>
</div>
