#car {
    .header {
        h3 {
            font-weight: 700;
            color: #393130;
            font-size: 32px;
        }
        p {}
    }
    .body {
        margin-top: 20px;
        .filter-group {
            background: transparent;
            .navbar {
                border: none;
                // background: white;
                .map{
                    
                }
            }
            .filter-cell {
            	h3{
            		font-weight: 700;
            		font-size: 15px;
            	}
                p {
                    margin-top: 10px;
                    color: #e67e28;
                    font-weight: 700;
                }
            }
        }
        .camp-group {
        	text-align: center;
            .trip-container {
            	text-align: left;
                margin-bottom: 10px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 10px;
                // border: none;
                box-shadow: none;
                overflow: hidden;
                .trip-image-container {
                    overflow: hidden;
                    height: 160px;
                    .trip-image {
                        // position: absolute;
                        left: -1000px;
                        right: -1000px;
                        top: 0;
                        bottom: 0;
                        text-align: center;
                        img {
                            height: 100%;
                            left: 50%;
                            top: 50%;
                            transform: translate(0%, 50%);
                        }
                    }
                }
                .trip-content {
                    padding: 10px 13px;
                    h4{
                    	margin-top: 5px;
                    	margin-bottom: 5px;
                    }
                    .mt5{
                    	margin: 5px 0px;
                    	a{
                    		margin-right: 7px;
                    	}
                    }
                    .tag{
                        color: black;
                    }
                }
            }
        }
    }
    .pl-20 {
        padding-left: 20px;
        width: 100%;
    }
    .filter-title {
        font-weight: bold;
        border: none;
        background-color: transparent;
    }
    .mt-30 {
        margin-top: 30px;
    }
    .img-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    a img {
        vertical-align: middle;
    }
}
