#main {
    // height: 500px;
    a.pull-right {
        margin-right: 15px;
    }
}

body,
html {
    height: 100%;
}

#pagewrapper {
    // height: 100%;
}

#main {
    .topC {
        text-align: center;
        h2 {
            margin-top: 30px;
            font-weight: 700;
        }
        #topCarousel {
            margin-top: 20px;
            .topC-each {
                height: 350px;
                overflow: hidden;
                margin: 5px 15px;
                position: relative;
                img {
                    height: 100%;
                    transition: all 1s;
                    -webkit-transition: all 1s;
                    &:hover {
                        -ms-transform: scale(1.3, 1.3);
                        -webkit-transform: scale(1.3, 1.3);
                        transform: scale(1.3, 1.3);
                    }
                }
                p {
                    position: absolute;
                    top: 75%;
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    width: 100%;
                    &.title {}
                    &.cont {
                        top: 83%;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .topD-group {
        .each {
            max-height: 400px;
            overflow: scroll;
            .top-deal {
                margin-bottom: 15px;
                .thumb-holder {
                    float: left;
                }
                .txt-group {
                    float: left;
                    font-size: 12px;
                    margin-left: 10px;
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .nsF {
        margin-top: 25px;
        .panel-default {
            border-radius: 7px;
            background-color: rgba(255, 255, 255, 0);
            .each {
                max-height: 300px;
                overflow: scroll;
                .activity_box {
                    border-left: 2px solid #003580;
                    padding: 12px;
                    order-left: 5px solid #000;
                    background: #fff;
                    margin-bottom: 5px;
                    position: relative;
                    overflow: hidden;
                    zoom: 1;
                    cursor: pointer;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                    outline: 1px solid transparent;
                    &:before {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        position: absolute;
                        left: 0;
                        top: 27px;
                        border: 6px solid transparent;
                        border-left-color: inherit;
                        -webkit-transform: scaleX(0.5);
                        -ms-transform: scaleX(0.5);
                        transform: scaleX(0.5);
                        -webkit-transform-origin: 0 0;
                        -ms-transform-origin: 0 0;
                        transform-origin: 0 0;
                    }
                    &:hover {
                        outline: 1px solid #feba02;
                        border-left-color: #feba02!important;
                    }
                    .image {
                        float: left;
                    }
                    .txt {
                        float: left;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    .wyCh {
        text-align: center;
        .oneusp {
            .lp-index-usp-iconfont {
                float: left;
                .lp-index-usp-iconfont__background {
                    background-color: #7bbd65;
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                }
                .lp-index-usp-iconfont__icon {}
            }
            .txt {
                text-align: left;
                float: left;
                padding-left: 20px;
                p {}
            }
        }
    }
}

#menu {
    width: 100%;
    background-color: #2196f3;
    ul {
        box-shadow: none;
    }
}
