#reviews {
    a.pull-right {
        margin-right: 15px;
    }    
    .lineitem {
    	margin-bottom: 10px;
    	margin-left: 5px;
    	margin-right: 5px;
    	padding: 10px;
    	.img{
    		img{
    			width: 100%;
    		}
    	}
    }  
    .item-title {
    	font-size: 20px;
    	color: #2196f3;
    }
    p {
    	margin-bottom: 5px;
    }
    .ml-20 {
    	margin-left: 20px;
    }
    .helpful-count {
    	// font-size: 20px;
    	font-weight: bold;
    }
    .tag {
    	margin-right: 10px;
    }
    .helpful-btn {
    	border: solid 1px #2196f3;
    }
    .helpful {
    	vertical-align: middle;
    }
    .review-title {
    	font-weight: bold;
    	font-style: italic;
    	font-size: 16px;
    }
    .review-content {
    	font-style: italic;
    }
    .panel-heading {
    	font-weight: bold;
		font-size: 20px;
		margin-left: 5px;
		padding-bottom: 5px;
		color: #333;
    }
    .score {
    	margin-right: 10px;
    	border-radius: 20% 20% 20% 0;
	    background: #003580;
	    font-size: 14px;
	    line-height: 2.2em;
	    text-align: center;
	    width: 2.143em;
	    padding: 6px;
	    color: #FFF;
    }
}
